<div class="container-card">
    <h2> <%= name %> </h2>
    <div class="detail-title">
      <p> Nickname </p>
      <span> <%= nickname %> </span>
    </div>
    
    <br>
    <div class="detail-title">
      <p> Instagram : </p>
      <a href="https://instagram.com/<%= instagram %>"> @<%= instagram %></a>
    </div>
    
    <div class="detail-title">
      <p> Twitter : </p>
      <a href="https://twitter.com/<%= twitter %>"> @<%= twitter %> </a>
    </div>
    
    <div class="detail-title">
      <p> Facebook : </p>
      <a href="https://facebook.com/<%= facebook %>"> <%= facebook %> </a>
    </div>

    <div class="detail-title">
      <p> LinkedIn : </p>
      <a href="#"> <%= linkedIn %> </a>
    </div>
 </div>