<div>
  <div class="main-container-card">
    <p> <%= name.value %> </p>
  </div>
  <div class="container-card">
    <h2> <%= followeduser.value %> </h2>
       <div class="detail-title">
         <p> Nickname </p>
         <span> <%= follownick.value %> </span>
       </div>
       <br>
   
       <div class="detail-title">
         <p> Instagram : </p>
         <a href="https://instagram.com/<%= followinstagram.value %>" target="_blank"> @<%= followinstagram.value %></a>
       </div>
       
       <div class="detail-title">
         <p> Twitter : </p>
         <a href="https://twitter.com/<%= followtwitter.value %>" target="_blank"> @<%= followtwitter.value %> </a>
       </div>
       
       <div class="detail-title">
         <p> Facebook : </p>
         <a href="https://facebook.com/<%= followfacebook.value %>" target="_blank"> <%= followfacebook.value %> </a>
       </div>
   
       <div class="detail-title">
         <p> LinkedIn : </p>
         <span> <%= followlinkedin.value %> </span>
       </div> 
       <br>
    </div>
</div>